@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Afacad', Arial, Helvetica, sans-serif;
}

/* === Gradient Backgrounds === */
.black-gradient {
  background: linear-gradient(to right, #434343, #000000);
}

.violet-gradient {
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
}

.green-pink-gradient {
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.red-orange-gradient {
  background: linear-gradient(to top, #f12711, #f5af19);
}

.green-gradient {
  background: linear-gradient(45deg, #90e098 0%, #afffb7 100%);
}

.blue-gradient {
  background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}

.pink-gradient {
  background: linear-gradient(45deg, #feb0b0 0%, #ff5acd 100%);
}

/* Padding */
.padding-x {
  @apply sm:px-16 px-6;
}
.padding-y {
  @apply sm:py-16 py-6;
}
.padding-all {
  @apply sm:px-16 px-6 sm:py-16 py-10;
}

/* Hero Text */
.hero-head-text {
  @apply tracking-[0.05rem] font-black text-white lg:text-[52px] sm:text-[60px] xs:text-[50px] text-[40px] mt-2;
}
.hero-sub-text {
  @apply tracking-[0.05rem] font-medium lg:text-[22px] sm:text-[26px] xs:text-[20px] text-[16px];
}

/* Section Text */
.section-head-text {
  @apply tracking-[0.05rem] text-white font-black md:text-[48px] sm:text-[50px] xs:text-[40px] text-[30px];
}
.section-sub-text {
  @apply tracking-[0.05rem] sm:text-[18px] text-secondary uppercase tracking-wider;
}
